/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.stage {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  min-height: 50vh;
  padding: 2rem;
  width: 100%;
}
.stage__player {
  flex: 1 0 50%;
  text-align: center;
}
