/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.header {
  background: #0a803b;
  color: #fff;
  padding: 0 1rem;
  width: 100%;
}
.header__title {
  margin: 0;
  padding: 1rem 0;
}
